services:
  db:
    image: mysql:8.0.34
    command: --default-authentication-plugin=mysql_native_password --secure-file-priv=""
    restart: always
    networks:
      - db_network
    environment:
      MYSQL_USER: dev
      MYSQL_PASSWORD: Dev@123
      MYSQL_ROOT_PASSWORD: Dev@123
      MYSQL_DATABASE: quebras_v2
      MYSQL_ROOT_HOST: "%"
    ports:
      - "3306:3306"

  phpmyadmin:
    image: phpmyadmin
    restart: always
    networks:
      - db_network
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
    ports:
      - "8091:80"

networks:
  db_network:
